<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <h1>Rob's blog test</h1>
    <h2>posts</h2>
    <BlogPost v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title"></BlogPost>
    <p v-if="requestInError">An issue occurred.</p>
  </div>
</template>

<script>
import BlogPost from './components/blog-post.vue'

export default {
  name: 'App',
  components: {
    BlogPost
  },
  data() {
    return {
      requestInError: false,
      posts: []
    }
  },
  mounted: function() {
    fetch('https://jsonplaceholder.typicode.com/posts')
        .then((response) => response.json())
        .then((json) => this.processResponse(json))
  },
  methods: {
    processResponse: function(responseJson) {
      if(!Array.isArray(responseJson)) {
        this.requestInError = true
        return
      }
      this.posts = responseJson
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
